<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>UnMute</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body class="bg-gray-900 flex flex-col items-center justify-center">
    <div id="info-popup" class="hidden overflow-y-auto overflow-x-hidden z-50 w-1/4 max-sm:w-full mx-3 md:inset-0 h-modal">
        <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                <div class="flex flex-col mb-4 text-sm font-light text-gray-500 dark:text-gray-400 items-center justify-center">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Exercise complete</h3>
                    <img src="../static/images/fallout-thumb.png" style="height: 35%; width: 35%;">
                </div>
                <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                        <a href="{{ url_for('home') }}">
                            <button id="close-modal" type="button"  class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Home</button>
                        </a>
                        <button id="confirm-button" type="button" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-auto hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" onclick="window.location.reload();">Try Again</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-center sticky top-0" id="title">
        <h1 class="font-sans text-5xl mt-7 font-extrabold text-blue-400">{{ title }}</h1>
    </div>

    <h2 id="desc" class="font-sans text-xl mt-7 mb-5 font-extrabold text-white">Show the sign for the letter L</h2>

    <section id="demos">
        <div style="position: relative;">
            <video id="input_video" autoplay playsinline style="-webkit-transform: scaleX(-1); transform: scaleX(-1);"></video>
            <canvas class="output_canvas" id="output_canvas" width="1280" height="720" style="position: absolute; left: 0px; top: 0px; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></canvas>
            <p class="text-gray-400">(Keep hand in frame for 1-2 seconds)</p>
            <p class="text-gray-400" id='gesture_output' class="output">
        </div>
    </section>

    <script type="module" src="{{url_for('static',filename='recognition.js')}}"></script>
</body>