<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Login</title>
</head>
<body class="bg-gray-700">
    <div class="flex items-center justify-center sticky top-0" id="title">
        <h1 class="font-sans text-6xl mt-7 font-extrabold text-blue-400 font-outline-2">UnMute</h1>
    </div>
    <div class="flex flex-col items-center justify-center px-6 py-10">
        <div class="w-full rounded-3xl shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-blue-400">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white">
                    Sign in to your account
                </h1>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-white">Your email</label>
                        <input type="email" name="email" id="email" class="border sm:text-sm rounded-3xl block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="border sm:text-sm rounded-3xl block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required="">
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border rounded focus:ring-3  bg-gray-700 border-gray-600 focus:ring-primary-600 ring-offset-gray-800" required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-300">Remember me</label>
                            </div>
                        </div>
                        <a href="#" class="text-sm font-medium text-sky-600 hover:underline">Forgot password?</a>
                    </div>
                    <button type="submit" class="w-full rounded-3xl bg-yellow-400 ring-4 ring-yellow-600 font-medium text-sm px-5 py-2 text-center hover:bg-yellow-500">Sign in</button>
                    <p class="text-sm font-light text-gray-400">
                        Don’t have an account yet? <a href="{{ url_for('register') }}" class="font-medium text-sky-600 hover:underline">Sign up</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    
    <footer class="flex items-center justify-center bg-blue-400 fixed bottom-0 w-screen">
        <a class="text-lg text-white m-5" href="#">About us</a>
        <a class="text-lg text-white m-5" href="#">Help and Support</a>
        <a class="text-lg text-white m-5" href="#">Social</a>
    </footer>
</body>
</html>